@font-face {
    font-family: 'StardewFont';
    src: url('../fonts/StardewValley.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/** {
    box-sizing: border-box;
}*/

body {
    background-image: url('../images/stardew_day_1920x1080.png');
    background-size: 100%;
    font-family: 'Inter';
}

.header {
    position: relative;
    justify-content: space-between;
    align-items: center;
    display: flex;
    margin-top: 40px;
    color: white;
    white-space: nowrap;
    font-family: 'StardewFont';
}

.header h1 {
    position: absolute;
    left: 50%;
    font-size: 4em;
    transform: translateX(-50%);
    margin: 0;
}

.header span {
    margin: 0 20px 0 20px;
    font-size: 2.5em;
    font-weight: 500;
}

.header h1, .header span {
    text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

#login:hover, #about-text:hover {
    color: lightblue;
    cursor: pointer;
}

#about-text {
    padding: 0;
    margin: 0;
}

.login-register-container h2 {
    font-size: 2em;
    margin: 10px auto;
}

.login {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    font-family: 'Inter';
    display: none;
}

.register {
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    font-family: 'Inter';
    display: none;
}

.login, .register {
    padding: 5px;
    border-radius: 20px;
    margin-top: 10px;
    min-height: 390px;
    width: 400px;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.login h2, .register h2 {
    margin-top: 20px;
}

.login h2, .register h2, .login p, .register p {
    text-align: center;
}

.login-header, .register-header {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0;
}

ion-icon[name="close-outline"] {
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    cursor: pointer;
}

ion-icon[name="close-outline"]:hover {
    color: white;
}

.email-password {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.input-group {
    display: flex;
    align-items: center;
    width: 90%;
    margin: 8px;
}

ion-icon[name="mail"], ion-icon[name="lock-closed"] {
    height: 20px;
    width: 20px;
}

input[type=text], input[type=password] {
    border: none;
    border-radius: 20px;
    background-color: white;
    width: 85%;
    height: 40px;
    margin: 5px 0 0 8px;
    padding-left: 10px;
    font-size: 0.9em;
}

input[type=text]:focus, input[type=password]:focus {
    border: none;
    outline: none;
    background-color: white;
}

.wrong-email-password span, .terms-unchecked span {
    margin: 8px 10px 15px 15px;
    font-size: 0.9em;
    font-weight: 500;
    color: rgb(151, 0, 0);
}

.remember-forgot {
    display: flex;
    align-items: center;
    margin: 8px 10px 15px 15px;
    font-size: 0.95em;
}

.remember-forgot label {
    margin-left: 5px;
}

.remember-forgot p {
    margin: 0 10px 0 auto;
}

.remember-forgot a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

.remember-forgot a:hover {
    color: rgb(255, 255, 255);
}

input[type=checkbox] {
    accent-color: rgb(0, 132, 255);
}

.login-btn, .register-btn {
    margin: 50px auto 0;
    border-radius: 25px;
    height: 45px;
    width: 50%;
    display: flex;
    background-color: rgb(43, 154, 206);
    box-shadow: 2px 5px lightblue;
}

input[value="Sign In"], input[value="Sign Up"] {
    color: white;
}
 
.login-btn input, .register-btn input {
    background-color: transparent;
    border: none;
    width: 100%;
    font-size: 1.2em;
}

.login-btn input:hover, .register-btn input:hover {
    cursor: pointer;
    background-color: rgb(78, 191, 243);
    border-radius: 25px;
}

.login-footer, .register-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    margin-top: 10px;
}

.terms-and-conditions {
    display: flex;
    align-items: center;
    font-size: 0.95em;
    margin: 8px 0 10px 15px;
}

.terms-and-conditions label {
    margin-left: 5px;
}

#login-here, #register-here {
    font-weight: 700;
}

#login-here:hover, #register-here:hover {
    cursor: pointer;
    color: rgb(180, 180, 180);
}

.auth-status {
    display: none;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 400px;
    background-color: rgba(255, 255, 255, 0.8);
    border: 2px solid white;
    font-family: 'Inter';
    border-radius: 20px;
    margin-top: 10px;
    padding: 5px;
}

.auth-status span {
    position: relative;
    margin: 50px auto;
    font-weight: 600;
}

.auth-status-header {
    display: flex;
    position: relative;
    text-align: center;
    justify-content: center;
    margin: 0;
}

.status-update {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: aqua;
}
